
@media screen and (min-width: 72ch) {
  .narrow-side-column {
    display: grid;
		grid-template-columns: 1fr auto;
		gap: 2rem;
    align-items: center;
  }
  .narrow-side-column__side {
    width: 100%;
  }
}

.color-box {
  padding: 1rem;
}

.color-box--green {
  background-color: var(--pale-green-color);
}

.color-box--blue {
  background-color: var(--pale-blue-color);
}

.color-box--red {
  background-color: var(--pale-red-color);
}

.color-box--yellow {
  background-color: var(--pale-yellow-color);
}

.color-box--purple {
  background-color: var(--pale-purple-color);
}
